vbs/src/test/resources/VBS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2014 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="VB">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="VRN"/>
				<xs:element ref="DateBooked"/>
				<xs:element ref="TimeBooked"/>
				<xs:element ref="Amount"/>
				<xs:element ref="Source"/>
				<xs:element ref="Target"/>
			</xs:sequence>
			<xs:attribute name="VBR" use="required" type="xs:byte">
				
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="VRN"  type="xs:string"/>
	<xs:element name="Amount" type="xs:decimal">
		
	</xs:element>
	<xs:element name="Source"  type="xs:string">
	
	</xs:element>
	<xs:element name="Target"  type="xs:string">
		
	</xs:element>
	<xs:element name="VBLoad">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DateGenerated"/>
				<xs:element ref="VBLoadList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DateBooked"  type="xs:string">
		
	</xs:element>
	<xs:element name="TimeBooked"  type="xs:string">
		
	</xs:element>
	<xs:element name="VBLoadList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="VB"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DateGenerated"   type="xs:string">
	
	</xs:element>
</xs:schema>
