vbs/src/main/resources/VBSPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.nivi.com/VBSWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VBSWS" targetNamespace="http://www.nivi.com/VBSWS/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.nivi.com/VBSWS/">
			<xsd:element name="sendVBSDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="VBLoad" type="tns:vbLoadType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="vbLoadType">
				<xsd:sequence>
					<xsd:element name="DateGenerated" type="xsd:string"/>
					<xsd:element name="VBLoadList" type="tns:vbLoadListType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="vbLoadListType">
				<xsd:sequence>
					<xsd:element name="VB" type="tns:vbType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="vbType">
				<xsd:sequence>
					<xsd:element name="VRN" type="xsd:string"/>
					<xsd:element name="DateBooked" type="xsd:string"/>
					<xsd:element name="TimeBooked" type="xsd:string"/>
					<xsd:element name="Amount" type="xsd:string"/>
					<xsd:element name="Source" type="xsd:string"/>
					<xsd:element name="Target" type="xsd:string"/>
				</xsd:sequence>
				<xsd:attribute name="VBR" type="xsd:string"/>
			</xsd:complexType>
			<xsd:element name="sendVBSDetailsResponse" type="tns:output">
       </xsd:element>
			<xsd:complexType name="output">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="vbsDetailsResponse" type="tns:vbsDetailsType">
      		</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="vbsDetailsType">
				<xsd:sequence>
					<xsd:element name="VRN" type="xsd:string"/>
					<xsd:element name="status" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="sendVBSDetails">
		<wsdl:part name="parameters" element="tns:sendVBSDetails">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendVBSDetailsResponse">
		<wsdl:part name="parameters" element="tns:sendVBSDetailsResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="VBSWS">
		<wsdl:operation name="sendVBSDetails">
			<wsdl:input message="tns:sendVBSDetails">
    </wsdl:input>
			<wsdl:output message="tns:sendVBSDetailsResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="VBSSOAP" type="tns:VBSWS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="sendVBSDetails">
			<soap:operation soapAction="urn:SendVBSDetails"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="VBSWS">
		<wsdl:port name="VBSPort" binding="tns:VBSSOAP">
		<!--	<soap:address location="http://localhost:8080/VBSWS2/services/VBSPort"/>-->
		<soap:address location="http://localhost:63081/vbs"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
